<div class="contain">
  <p><strong>User Access</strong></p>
  <p>Search</p>
    <div class="container">
      
        <div class="form-group row">
          <div class="col-sm-6">
           
            <input class="form-control" id="ex1" type="text" placeholder="Search People hear">
         <span class="fa fa-search form-control-feedback" style="padding-left: 450px; position: absolute; top: 1085px;"></span>
          </div>
        
          <table class="table table-bordered">
            <thead class="thead">
              <tr >
                <th class="thead">EMP.no</th>
                <th class="thead">EMD Name</th>
                <th class="thead">Role</th>
                <th class="thead">Provide Accesss To</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>SAMPLE5599</td>
                <td>Mark</td>
                <td>Otto</td>
                <td class=" select">
                  <div class="col-sm-2 select"><span class="bi bi-caret-down" style="padding-left: 265px; position: absolute; top: 1242px; height: 0px;"></span>
                  <select class="col-sm-2 select form-control" name="cars" data-toggle="dropdown"  id="cars">
                    <option value="volvo">Select</option>
                  </select></div>
              </td>
              </tr>
              <tr>
                <td>SAMPLE1235</td>
                <td>Jacob</td>
                <td>Thomton</td>
                <td class=" select">
                  <div class="col-sm-2 select"><span class="bi bi-caret-down" style="padding-left: 265px; position: absolute; top: 1309px; height: 0px;"></span>
                  <select class="col-sm-2 select form-control" name="cars" data-toggle="dropdown"  id="cars">
                    <option value="volvo">Select</option>
                  </select></div>
              </td>
              </tr>
              <tr>
                <td>SAMPLE9292</td>
                <td>Larry the Bird</td>
                <td>@twitter</td>
                <td class=" select">
                  <div class="col-sm-2 select"><span class="bi bi-caret-down" style="padding-left: 265px; position: absolute; top: 1179px; height: 0px;"></span>
                  <select class="col-sm-2 select form-control" name="cars" data-toggle="dropdown"  id="cars">
                    <option value="volvo">Select</option>
                  </select></div>
              </td>
              </tr>
              
            </tbody>
          </table>
      
        
      
    </div>
    </div>
    </div>
