<div class="contain">
    <div class="container">
      <p><strong>Add Users who need to be part of this MOM</strong></p>
        <div class="form-group row">
          <div class="col-sm-13">
            <label for="ex1">Choose Admin<span style="padding-left:3px; color: red;">*</span></label>
            <div class="col-sm-2 select"><span class="bi bi-caret-down" style="padding-left: 953px; position: absolute; top: 702px; height: 0px;"></span>
              <select class="col-sm-2 select form-control" name="cars" data-toggle="dropdown"  id="cars">
                <option value="volvo">Select</option>
              </select></div><br>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="ex1">Attendees List<span style="padding-left:3px; color: red;">*</span></label>
              <input class="form-control" id="ex1" type="text"><span class="fa fa-search form-control-feedback" style="padding-left: 443px; position: absolute; top: 780px;"></span><br>
            </div>
            <div class="col-sm-6">
        <label for="ex1">Email<span style="padding-left:3px; color: red;">*</span></label>
        <input class="form-control" id="ex1" type="text" style="width: 490px;"><span class="fa fa-search form-control-feedback" style="padding-left: 464px; position: absolute; top: 780px;"></span><br>
        <button type="button" style="position: absolute; height: 60px; margin-left: 3px;" class="btn btn-outline-primary add1"><i class="bi bi-envelope" style="padding: 5px;  border-radius: 5px; color: white; background-color:rgba(71, 81, 212, 0.897);"></i>  Notes_PPAC.pdf  <i class="fa fa-close" style="color: red; font-size:20px; margin-right: 3px;"></i></button>
        <button type="button" style="position: absolute; height: 60px; margin-left: 220px;" class="btn btn-outline-primary add1"><i class="bi bi-envelope" style="padding: 5px;  border-radius: 5px; color: white; background-color:rgba(71, 81, 212, 0.897);"></i>  Notes_PPAC.pdf  <i class="fa fa-close" style="color: red; font-size:20px; margin-right: 3px;"></i></button>
    
      </div>
    </div>
    <div class="col-sm-6">
      
    <button type="button" style="height: 60px;" class="btn btn-outline-primary add1"><i class="bi bi-person-fill-add" style="padding: 5px;  border-radius: 5px; color: white; background-color:rgba(71, 81, 212, 0.897);"></i>  Notes_PPAC.pdf  <i class="fa fa-close" style="color: red; font-size:20px; margin-right: 3px;"></i></button>
    <button type="button" style="height: 60px; margin-left: 30px;" class="btn btn-outline-primary add1"><i class="bi bi-person-fill-add" style="padding: 5px;  border-radius: 5px; color: white; background-color:rgba(71, 81, 212, 0.897);"></i>  Notes_PPAC.pdf  <i class="fa fa-close" style="color: red; font-size:20px; margin-right: 3px;"></i></button>
       
  </div></div>
        
      
    </div>
    </div>
    