<div class="contain">
<div class="row">

<div class="col-sm-3 col-md-5" >
  <p><strong>Meeting Inputs</strong></p>
  <p><strong>Add Inputs</strong></p>
  <button type="button" class="btn btn-primary">Information (1)</button>
  
  <button type="button" class="btn btn-outline-primary">Decision (D)</button>
  <button type="button" class="btn btn-outline-primary">Task (T)</button>

  
  <br><br>
    <label for="exampleFormControlTextarea1" class="form-label">Enter Description<span style="padding-left:3px; color: red;">*</span></label>
    <div class=" col-sm-13">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea></div>
    <button type="button" class="btn upload btn-outline-primary">+</button>
    <p class="uptxt">Upload File</p>
    <br>
    <button type="button" class="btn btn-outline-primary add1"><i class="bi bi-download"></i> Quote.pdf  <i class="bi bi-x-circle" style="color: red;"></i></button>
    <button type="button" class="btn btn-outline-primary add2"><i class="bi bi-download"></i> Quote.pdf  <i class="bi bi-x-circle" style="color: red;"></i></button>
    <button type="button" class="btn btn-outline-primary add">Add</button>
    
</div>
<div class="col-sm-9 col-md-7" >
  <p><strong>Meeting Inputs (09) Entries</strong></p>
  <div class="form-group row">
    <div class="col-sm-6">
      <label for="ex1">Attendees List<span style="padding-left:3px; color: red;">*</span></label><br><br>
      <input class="form-control" id="ex1" type="text" placeholder="search.."><span class="fa fa-search form-control-feedback" style="padding-left: 250px; position: absolute; top: 1580px;"></span>
    </div>
    <div class="col-sm-6">
      <p>Attendees List<span style="padding-left:3px; color: red;">*</span></p>
      <td class=" select">
        <div class="col-sm-4 select"><span class="bi bi-caret-down" style="padding-left: 275px; position: absolute; top: 1576px;  height: 0px;"></span>
        <select class="col-sm-2 select form-control" name="cars" data-toggle="dropdown"  id="cars">
          <option value="volvo">New</option>
        </select></div>
    </td><br><br>
     
    </div>
  
<div class="alert"><span class="bi bi-pencil" style="padding-left: 515px; color: blueviolet; top: 476px;"></span>
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> <br>
  <p><strong>Meeting Inputs (09 Entries)</strong></p>
   <p style="color: rgb(110, 110, 110);">Created on -21 September 2022 - <span style="color:blueviolet"><strong>Decision (D)</strong></span></p>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nisi, ad et<br> iusto, labore eum debitis hic doloribus enim eligendi, earum tempore fugit autem
  </p>
</div>
  <br>
<div class="alert"><span class="bi bi-pencil" style="padding-left: 515px; color: blueviolet; top: 476px;"></span>
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> <br>
  <p><strong>Meeting Inputs (09 Entries)</strong></p>
  <p style="color: rgb(110, 110, 110);">Created on -21 September 2022 - <span style="color:blueviolet"><strong>Decision (D)</strong></span></p>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nisi, ad et<br> iusto, labore eum debitis hic doloribus enim eligendi, earum tempore fugit autem
  </p>
</div>
<br>
<div class="alert"><span class="bi bi-pencil" style="padding-left: 515px; color: blueviolet; top: 476px;"></span>
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> <br>
  <p><strong>Meeting Inputs (09 Entries)</strong></p>
  <p style="color: rgb(110, 110, 110);">Created on -21 September 2022 - <span style="color:blueviolet"><strong>Decision (D)</strong></span></p>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nisi, ad et<br> iusto, labore eum debitis hic doloribus enim eligendi, earum tempore fugit autem
  </p>
</div>
  
 </div>
</div></div>
