<div class="contain">
    <div class="container">
      <h4><strong>Meeting Details</strong><h4><br>
        <div class="form-group row">
          <div class="col-sm-3"><span class="bi bi-caret-down" style="padding-left: 205px; position: absolute; top: 263px; height: 0px;"></span>
            <label for="ex1" class="me">Meeting Mode<span style="padding-left:3px; color: red;">*</span></label><br>
            <select name="cars" data-toggle="dropdown" class=" form-control text" id="cars">
              <option value="volvo">Select</option>
    <option value="saab">Zoom</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label for="ex2">Meeting Date<span style="padding-left:3px; color: red;">*</span></label>
            <input type="date" class="form-control text" id="date" required  name="date" >
          </div>
          
          <div class="col-sm-3">
            <label for="ex3">Enter Meeting Subject<span style="padding-left:3px; color: red;">*</span></label>
            <input class="form-control text" id="ex3" type="text">
          </div>
          <div class="col-sm-3">
            <label for="ex3">Meeting Date<span style="padding-left:3px; color: red;">*</span></label>
            <input class="form-control text" type="time" id="appt" name="appt" >
          </div>
          <div class="form-group row">
           <div class="form-group "><br>
      <label for="comment">Meeting Date<span style="padding-left:3px; color: red;">*</span></label>
      <textarea class="form-control text" rows="5" id="comment" style="width: 990px;"></textarea>
    </div>
        </div>
        
      
    </div>
    
   