

<div class="table-container">
  <table class="progress-table">
    <tbody>
      <tr>
        <td class="step completed">
          <div class="progress-bar"></div>
          <span class="step-circle1"></span>
          <a mat-button href="" class="submit-button1" target="_blank">Step 1</a>
         <span class="line-connection l1"></span>
        </td>
      </tr>
      <tr>
        <td class="step in-progress">
          <div class="progress-bar"></div>
          <span class="step-circle2"></span>
          <a mat-button href="" class="submit-button2"target="_blank">Step 2</a>
         
          <span class="line-connection l2"></span>
        </td>
      </tr>
      <tr>
        <td class="step">
          <div class="progress-bar"></div>
          <span class="step-circle3"></span>
          <a mat-button href="" class="submit-button3"target="_blank">Step 3</a>
         
          <span class="line-connection l3"></span>
        </td>
      </tr>
      <tr>
        <td class="step">
          <div class="progress-bar"></div>
          <span class="step-circle4"></span>
          
          <a mat-button href="" class="submit-button4"target="_blank">Step 4</a>
          <span class="line-connection l4" ></span>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
